.brand{
    text-align: center;
    font-family: 'Pacifico';
    font-size: 64px;
    margin: 50px 0px;
}
.headline-news{
    display: flex;
    width: 98%;
    border-width: 2px 1px 2px 1px;
    border-style: solid;
    margin: 0% 1%;
}
.headline-left{
    width: 25%;
    border-width: 0px 0px 0px 0px;
    padding: 0px 10px;
}
.headline-center{
    width: 50%;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    text-align: center;
    padding: 0px 10px;
}
.article-img{
    max-width: 100%;
    width: 97%;
}
p{
    text-align: left;
}
.headline-right{
    width: 25%;
    border-width: 0px 0px 0px 0px;
    padding: 0px 10px;
}
h2{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}
.headline-news-bottom{
    display: flex;
    align-items: stretch;
    width: 98%;
    border-width: 0px 1px 3px 1px;
    border-style: solid;
    margin: 0% 1%;
}
.headline-bottom{
    width: 25%;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    padding: 0px 3.1px;
}
.categories{
    display: flex;
    width: 75%;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 32;
    align-items: stretch;
    text-align: left;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center
}
.yellow{
    font-size: 32px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #ffeaa7;
    width: 100%;
    box-sizing: border-box;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    padding: 20px;
}
.turqoise{
    font-size: 32px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #81ecec;
    width: 100%;
    box-sizing: border-box;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    padding: 20px;
}
.green{
    font-size: 32px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #55efc4;
    width: 100%;
    box-sizing: border-box;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    padding: 20px;
}
.blue{
    font-size: 32px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #74b9fe;
    width: 100%;
    box-sizing: border-box;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    padding: 20px;
}
.purple{
    font-size: 32px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #a29bfe;
    width: 100%;
    box-sizing: border-box;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    padding: 20px;
}
